/*====기본설정=====*/
* {
    box-sizing: border-box;
}
body {
    max-width: 1000px;
    margin: 2rem auto;
}
button,
a {
    text-decoration: none;
}

button,
a {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

section {
    margin: 1rem;
}
/*====owl-carousel style=====*/
.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    filter: opacity(0.5);
}

#owl-slider {
    overflow: hidden;
    box-shadow: 0 3px 5px 2px rgb(0 0 0 / 15%);
    border-radius: 10px;
    position: relative;
}

.owl-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    padding: 30px;
}

#owl-slider .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#owl-slider .owl-nav {
    position: absolute;
    top: 20px;
    right: 30px;
    line-height: 0;
}

#owl-slider .owl-nav button:focus {
    outline: none;
}

#owl-slider .slide__link {
    color: #ffffff;
    padding: 10px;
    border: 1px solid;
    border-color: #223c50;
    background-color: #223c50;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#owl-slider .slide__link:hover {
    color: #223c50;
    background-color: #ebf2f4;
    border-color: #b3c4d0;
}

#owl-slider .owl-slide__title {
    margin-bottom: 20px;
}

@media (min-width: 1080px) {
    .owl-slide {
        min-height: 600px;
    }
}
